<div class="main-content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Doors:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#openDoors" data-toggle="tab">
                                            <i class="material-icons">lock_open</i> Open Doors
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#closeDoors" data-toggle="tab">
                                            <i class="material-icons">lock</i> Close Doors
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {{dashboardF?.value | json}}

                        <div class="tab-content">
                            <div class="tab-pane active" id="openDoors">
                                <table class="table" [formGroup]="dashboardF">
                                    <tbody>

                                        <div class="row" formGroupName="rightDoor_1">
                                            <div class="col-md-2">
                                                <td>Right Door Wagon 1</td>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input formControlName="airPressure" matInput
                                                        placeholder="Air Pressure" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input formControlName="doorLeaf" matInput
                                                        placeholder="Door Leaf Displ." type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input formControlName="interLock" matInput
                                                        placeholder="Interlock Circuit" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-1">
                                                <button (click)="openDoor('rightDoor_1')" mat-raised-button
                                                    type="submit" class="btn btn-danger pull-right">Open Door</button>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="row" formGroupName="leftDoor_2">
                                            <div class="col-md-2">
                                                <td>Left Door Wagon 2</td>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input formControlName="airPressure" matInput
                                                        placeholder="Air Pressure" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input formControlName="doorLeaf" matInput
                                                        placeholder="Door Leaf Displ." type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input formControlName="interLock" matInput
                                                        placeholder="Interlock Circuit" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-1">
                                                <button (click)="openDoor('leftDoor_2')" mat-raised-button type="submit"
                                                    class="btn btn-danger pull-right">Open Door</button>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="row" formGroupName="rightDoor_2">
                                            <div class="col-md-2">
                                                <td>Right Door Wagon 2</td>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input formControlName="airPressure" matInput
                                                        placeholder="Air Pressure" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input formControlName="doorLeaf" matInput
                                                        placeholder="Door Leaf Displ." type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input formControlName="interLock" matInput
                                                        placeholder="Interlock Circuit" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-1">
                                                <button (click)="openDoor('rightDoor_2')" mat-raised-button
                                                    type="submit" class="btn btn-danger pull-right">Open Door</button>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="closeDoors">
                                <table class="table">
                                    <tbody>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <td>Left Door Wagon 1</td>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Air Pressure" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Door Leaf Displ." type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Interlock Circuit" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-1">
                                                <button mat-raised-button type="submit"
                                                    class="btn btn-danger pull-right">Close Door</button>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <td>Right Door Wagon 1</td>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Air Pressure" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Door Leaf Displ." type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Interlock Circuit" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-1">
                                                <button mat-raised-button type="submit"
                                                    class="btn btn-danger pull-right">Close Door</button>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <td>Left Door Wagon 2</td>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Air Pressure" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Door Leaf Displ." type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Interlock Circuit" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-1">
                                                <button mat-raised-button type="submit"
                                                    class="btn btn-danger pull-right">Close Door</button>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <td>Right Door Wagon 2</td>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Air Pressure" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Door Leaf Displ." type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Interlock Circuit" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-1">
                                                <button mat-raised-button type="submit"
                                                    class="btn btn-danger pull-right">Close Door</button>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Door Information</h4>
                        <p class="card-category">Current Status</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-info">
                                <th>Name</th>
                                <th>Status</th>
                                <th>Last used on</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Left Door Wagon 1</td>
                                    <td>Open</td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <td>Right Door Wagon 1</td>
                                    <td>Close</td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <td>Left Door Wagon 2</td>
                                    <td>Close</td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <td>Right Door Wagon 2</td>
                                    <td>Close</td>
                                    <td>12</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>